body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  margin: auto;
}

/* General Style */

.border-wrapper {
  height: 100%;
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  box-sizing: border-box;
}

.shadow-wrapper-weak {
  box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}