.post-list-item {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #474A51;
  color: #BBB;
  min-height: 120px;
  position: relative;
  transition: 300ms ease-out;
  cursor: pointer;
  display: flex;
}

.post-list-item__content {
  width: 100%;
  position: relative;
  max-width: 100%;
}

.post-list-item__info {
  width: 20%;
}

.post-list-item__content_container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.post-list-item__content_title {
  font-size: 1.5em;
  color: #FFF;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-list-item__content_body {
  font-size: 1.2em;
  margin-top: 20px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-list-item:hover{
  background: #56585F
}

@media screen and (max-width:768px) {
  .post-list-item__content_body {
    display: none;
  }
  .post-list-item {
    min-height: 190px
  }
  
  .post-list-item {
    flex-direction: column;
  }
  .post-list-item__info {
    width: 100%;
  }
}