.post-list-item {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #2c2f34;
  color: #BBB;
  min-height: 120px;
  position: relative;
}

.post-list-item__content {
  width: 100%;
  position: relative;
  max-width: 100%;
}

.post-list-item__info {
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition: all ease-out 80ms
}

.post-list-item__content_title {
  font-size: 1.5em;
  color: #FFF;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-list-item__content_body {
  font-size: 1.2em;
  margin-top: 20px;
  width: calc(100% - 250px);
  max-width: calc(100%-250px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-list-item:hover .post-list-item__info .post-info {
  border-bottom: 120px solid rgb(121, 67, 200);
  border-left: 0px solid transparent;
}

.post-list-item:hover .post-info__container {
  height: 120px;
}

.post-list-item:hover .post-info__container_vote-score__elem--hidden {
  display: flex;
}

@media screen and (max-width:768px) {
  .post-list-item__content_body {
    display: none;
  }
  .post-list-item {
    min-height: 190px
  }
  .post-list-item:hover .post-list-item__info {
    transform: scale(1.0)
  }
}