.vote-score-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.vote-score-component__voter {
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-score-component__voter:hover {
  transform: scale(1.2)
}

