.post-info {
  padding: 10px;
  height: 0;
  border-bottom: 100px solid rgb(121, 67, 200);
  border-left: 55px solid transparent;
  position: relative;
  border-radius: 5px;
  max-width: 350px;
  min-width: 250px;
  width: 100%;
  transition: all 200ms ease-out
}

.post-info__container {
  position: absolute;
  top: 20px;
  width: 100%;
  right: 0px;
  height: 100px;
  padding: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.post-info__container_data {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.post-info__container_data__vote_score::first-line {
  font-size: 3em;
  color: #FFF;
  flex-grow: 1;
  text-align: center;
}

.post-info__container_data__vote_score {
  font-size: .9em;
  color: #FFF;
  flex-grow: 1;
  text-align: center;
}

.post-info__container_data__label {
  font-size: .9em;
  margin-top: 1px;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.post-info__container_data__label--bold {
  font-weight: 800
}

.post-info__container_vote-score__elem--hidden {
  flex-grow: 2;
  height: 100%;
  display: none;
  align-items: center
}