.post-info {
  padding: 10px;
  height: 100%;
  width: 100%;
  background: rgb(121, 67, 200);
  position: relative;
  border-radius: 0px 3px 3px 0px;
}

.post-info__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.post-info__container_data {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.post-info__container_indicator {
  margin: 0 5px 0 5px;
  width: 40%;
  text-align: center
}

.post-info__container_indicator__vote_score_number {
  font-size: 3em;
  color: #FFF;
  flex-grow: 1;
  text-align: center;
}

.post-info__container_indicator__vote_score {
  font-size: 1em;
  color: #FFF;
  flex-grow: 1;
  text-align: center;
}

.post-info__container_data__label {
  font-size: .9em;
  margin-top: 1px;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.post-info__container_data__label--bold {
  font-weight: 800
}

.post-info__container_vote-score__elem--hidden {
  flex-grow: 2;
  height: 100%;
  display: none;
  align-items: center
}